<nav class="navbar navbar-expand-lg navbar-dark indigo z-depth-0 fixed-top">
 <div class="container">
  <a class="navbar-brand" routerLink="/">Countries</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto mr-auto">
      <li class="nav-item active">
        <a class="nav-link" target="_blank" href="https://github.com/frantchessico/Developer-Challenge">Codigo Fonte - GitHub
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://franciscoinoque.tech/" target="_blank">Portfolio</a>
      </li>
    </ul>
    <span class="navbar-text white-text">
     Challenge [Francisco Inoque]
    </span>
  </div>
 </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>


